project:
  type: website

website:
  title: "Irving Martinez"
  site-url: https://irving-mtz-acosta.github.io/math-science/
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.scss
    toc: true



